<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your account</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Playwrite+US+Trad:wght@100..400&display=swap"
      rel="stylesheet"
    />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="js/jquery.min.js"></script>

    <style>
      .overflow-auto {
        max-height: 18rem; /* Điều chỉnh chiều cao tối đa nếu cần */
        overflow-y: scroll; /* Sử dụng overflow-y: scroll để luôn hiển thị thanh cuộn */
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }

      #employeeImage {
        width: 13rem; /* Ensure this matches w-52 from Tailwind */
        height: 13rem; /* Ensure this matches h-52 from Tailwind */
        position: relative;
        cursor: pointer;
      }
      thead {
        position: sticky;
        top: 0;
        background-color: white; /* Màu nền của phần đầu bảng */
        z-index: 1; /* Đảm bảo phần đầu bảng nằm trên các phần tử khác */
      }
      #employeeImage img {
        width: 100%;
        height: 100%;
      }

      .edit-mode {
        display: none;
      }

      .edit-buttons {
        display: none;
        gap: 10px;
        margin-top: 10px;
      }
    </style>
    <div id="notification-placeholder">
      @@include('components/notification.html')
    </div>
    <script type="module" src="js/revenueEmployeePage.js"></script>
    <script type="module" src="js/ProfileEmp.js"></script>
  </head>
  <body class="bg-gray-100">
    <div id="container" class="flex">
      <div id="sidebarContainer" class="bg-gray-800 h-screen text-white">
        @@include('components/sidebarForStaff.html')
      </div>

      <div class="flex-grow p-4">
        <div
          id="employeeDetails"
          class="flex justify-center items-center max-h-screen"
        >
          <div
            class="employee-details grid grid-cols-5 gap-0 w-full shadow-xl rounded-2xl px-10 border bg-gray-100"
          >
            <div
              id="employeeImage"
              class="col-span-1 flex justify-center items-center mt-4"
            >
              <img
                src="https://via.placeholder.com/150"
                alt="Employee Image"
                class="rounded-full object-cover"
              />
              <input
                type="file"
                name="file"
                id="employeeImageInput"
                class="edit-mode"
                accept="image/*"
              />
            </div>

            <div class="employee-info col-span-4 flex items-center">
              <div class="flex items-center">
                <div>
                  <h1
                    id="employeeName"
                    class="text-2xl font-playwrite"
                    onclick="editField('employeeName')"
                  >
                    <span class="value">Thanh Khả</span>
                  </h1>
                  <input
                    type="text"
                    id="employeeNameInput"
                    class="edit-mode"
                    name="firstName"
                  />
                  <h2 id="employeeRole" class="text-2xl text-gray-500">
                    ADMIN
                  </h2>
                </div>
              </div>
            </div>

            <div class="employee-contact mt-6">
              <div
                id="employeePhoneNumber"
                class="mb-2"
                onclick="editField('employeePhoneNumber')"
              >
                <strong>Phone Number:</strong>
                <span class="value">123-456-789</span>
              </div>
              <input
                type="text"
                id="employeePhoneNumberInput"
                class="edit-mode"
                name="phoneNumber"
              />

              <div
                id="employeeEmail"
                class="mb-2"
                onclick="editField('employeeEmail')"
              >
                <strong>Email:</strong>
                <span class="value">email@example.com</span>
              </div>
              <input
                type="email"
                id="employeeEmailInput"
                class="edit-mode"
                name="email"
              />

              <div id="employeeAddress" onclick="editField('employeeAddress')">
                <strong>Address:</strong>
                <span class="value">123 Main St</span>
              </div>
              <input
                type="text"
                id="employeeAddressInput"
                class="edit-mode"
                name="address"
              />
              <input type="hidden" id="employeeIdInput" name="id" />
              <input type="hidden" id="employeeRoleIdInput" name="roleId" />
              <input type="hidden" id="employeeStatusInput" name="status" />
              <div class="edit-buttons edit-mode">
                <button onclick="saveChanges()">Save</button>
                <button onclick="cancelChanges()">Cancel</button>
              </div>
            </div>

            <div class="employee-table col-span-4">
              <div class="w-full border-l border-black pl-4">
                <div>
                  <label for="revenuePeriodModal" class="text-lg font-medium"
                    >Chọn khoảng thời gian:</label
                  >
                  <select id="revenuePeriodModal" class="ml-2 p-2 rounded">
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                  </select>
                  <select id="monthSelectModal" class="ml-2 p-2 rounded">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                  <select id="yearSelectModal" class="ml-2 p-2 rounded hidden">
                    <option value="currentYear">Năm nay</option>
                    <option value="lastYear">Năm trước</option>
                  </select>
                </div>

                <div class="grid grid-cols-1 gap-4 mt-8 sm:grid-cols-2">
                  <!-- Các khối hiển thị tổng doanh thu, tổng hóa đơn, ... giữ nguyên -->
                  <div
                    class="flex items-center bg-white border rounded-sm overflow-hidden shadow"
                  >
                    <div class="p-4 bg-green-400">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-12 w-12 text-white"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
                        />
                      </svg>
                    </div>
                    <div class="px-4 text-gray-700">
                      <h3 class="text-sm tracking-wider">Total Revenue</h3>
                      <p class="text-3xl" id="totalRevenue">88,888</p>
                    </div>
                  </div>
                  <div
                    class="flex items-center bg-white border rounded-sm overflow-hidden shadow"
                  >
                    <div class="p-4 bg-blue-400">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-12 w-12 text-white"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 2 0 002 2h8a2 2 2 0 002-2v-2"
                        />
                      </svg>
                    </div>
                    <div class="px-4 text-gray-700">
                      <h3 class="text-sm tracking-wider">
                        Total After Discount
                      </h3>
                      <p class="text-3xl" id="totalRevenueAfterDiscount">
                        88,888
                      </p>
                    </div>
                  </div>
                  <div
                    class="flex items-center bg-white border rounded-sm overflow-hidden shadow"
                  >
                    <div class="p-4 bg-indigo-400">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-12 w-12 text-white"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"
                        />
                      </svg>
                    </div>
                    <div class="px-4 text-gray-700">
                      <h3 class="text-sm tracking-wider">Total Invoices</h3>
                      <p class="text-3xl" id="invoiceEmployee">88,888</p>
                    </div>
                  </div>
                  <div
                    class="flex items-center bg-white border rounded-sm overflow-hidden shadow"
                  >
                    <div class="p-4 bg-red-400">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-12 w-12 text-white"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"
                        />
                      </svg>
                    </div>
                    <div class="px-4 text-gray-700">
                      <h3 class="text-sm tracking-wider">Average Revenue</h3>
                      <p class="text-3xl" id="averageRevenue">88,888</p>
                    </div>
                  </div>
                </div>
                <div class="my-6 sm:grid-cols-4">
                  <div class="bg-white p-4 rounded-lg shadow">
                    <h2 class="text-2xl font-semibold mb-4">Invoice recent</h2>
                    <div class="overflow-auto max-h-96">
                      <table class="w-full" id="invoiceTable">
                        <thead>
                          <tr class="text-left">
                            <th class="p-2 border-b border-gray-900">No</th>
                            <th class="p-2 border-b border-gray-900">Date</th>
                            <th class="p-2 border-b border-gray-900">Client</th>
                            <th class="p-2 border-b border-gray-900">
                              Employee
                            </th>
                            <th class="p-2 border-b border-gray-900">
                              Total Price Raw
                            </th>
                            <th class="p-2 border-b border-gray-900">
                              Total Price
                            </th>
                            <th class="p-2 border-b border-gray-900">
                              Discount Price
                            </th>
                          </tr>
                        </thead>
                        <tbody id="invoiceEmployeeBody"></tbody>
                      </table>
                    </div>

                    <div class="flex justify-center mt-4">
                      <button
                        id="loadMoreInvoiceEmplBtn"
                        class="bg-white text-black rounded-full p-4 shadow-md flex items-center justify-center w-12 h-12 animate-bounce"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          class="w-6 h-6"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.5 13.5L12 21m0 0L4.5 13.5M12 21V3"
                          />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
