<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Invoice</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="js/jquery.min.js"></script>
    <script src="js/ViewInvoice.js"></script>
</head>


<body>
    <div id="container" class="flex">
        <!-- side bar -->
        <div id="sidebarContainer" class="h-screen text-white">
            @@include('components/sidebarForStaff.html')
        </div>

        <div class="12bg-pink-100 p-8 w-full h-screen">
            <!-- Form nhập liệu -->
            <div class="mb-8">
                <label for="invoiceInput" class="block text-gray-700 text-sm font-bold mb-2">Enter Invoice ID: </label>
                <input type="text" id="invoiceInput" name="invoiceInput"
                    class="shadow appearance-none border rounded w-1/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <button id="submitInvoice"
                    class="mt-2 bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Send</button>
            </div>
            <!-- Nội dung hóa đơn sẽ được cập nhật tại đây -->
            <div id="invoiceContent">
                <!-- Nội dung hóa đơn như mẫu đã cho -->
            </div>

            
        </div>

        

</body>

</html>