<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2KS1NET</title>
    <meta name="author" content="David Grzyb" />
    <meta name="description" content="" />

    <!-- Tailwind -->
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="/js/jquery.min.js"></script>

    <div id="notification-placeholder">
      <div id="toast-container" class="fixed top-4 right-4 z-50 space-y-2"></div>

<script>
  function showNotification(message, type) {
    const toastContainer = $("#toast-container");
    const toast = $(`
          <div class="toast p-4 rounded shadow-md text-white font-medium"></div>
      `).text(message);

    if (type === "OK") {
      toast.addClass("bg-green-500");
    } else {
      toast.addClass("bg-red-500");
    }

    toastContainer.append(toast);
    toast.addClass("show");

    // Tự động ẩn sau 2 giây
    setTimeout(() => {
      toast.addClass("opacity-0");
      setTimeout(() => toast.remove(), 500); // Xóa phần tử khỏi DOM sau khi ẩn
    }, 3000);

    // Ẩn thông báo khi nhấn vào
    toast.click(() => {
      toast.addClass("opacity-0");
      setTimeout(() => toast.remove(), 500);
    });
  }
</script>
<script type="module" src="/js/logout.js"></script>

    </div>
    <script type="module" src="/js/CounterManager.js"></script>
  </head>

  <body class="bg-gray-100 font-family-karla flex">
    <!-- side bar -->
    <div id="sidebar-placeholder"><!-- AlpineJS -->
<script
  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
  defer
></script>
<!-- Font Awesome -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
  integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs="
  crossorigin="anonymous"
></script>
<script type="module" src="/js/logout.js"></script>

<aside
  id="adminPage"
  class="flex flex-col w-52 h-screen px-5 py-8 overflow-y-auto bg-white border-r rtl:border-r-0 rtl:border-l dark:bg-gray-900 dark:border-gray-700 no-scrollbar"
>
  <a href="/dashboard">
    <img
      id="logoAdmin"
      class="w-44 h-auto"
      src="https://storage.googleapis.com/jewelrystore-2ks1dotnet.appspot.com/User/82041f19-65b4-4d0d-9130-2748b6fde039_2024-07-12"
      alt="logo"
    />
  </a>

  <div class="flex flex-col justify-between flex-1 mt-6">
    <nav class="-mx-3 space-y-6">
      <div class="space-y-3">
        <label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-400"
          >Profile</label
        >

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          id="profileAdmin"
          href="#"
        >
          <svg
            class="h-5 w-5 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M8 21h8a2 2 0 0 0 2-2v-9a2 2 0 0 0-2-2h-3l-1-2H8a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2z"
            />
            <line x1="8" y1="13" x2="16" y2="13" />
            <line x1="8" y1="17" x2="16" y2="17" />
            <polyline points="10 9 10 13 8 13" />
          </svg>
          <span class="mx-2 text-sm font-medium">Account</span>
        </a>
        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          id="updateGoldPrice"
          href="#"
        >
          <svg
            class="h-5 w-5 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M8 21h8a2 2 0 0 0 2-2v-9a2 2 0 0 0-2-2h-3l-1-2H8a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2z"
            />
            <line x1="8" y1="13" x2="16" y2="13" />
            <line x1="8" y1="17" x2="16" y2="17" />
            <polyline points="10 9 10 13 8 13" />
          </svg>
          <span class="mx-2 text-sm font-medium">Update gold price</span>
        </a>
      </div>
      <div class="space-y-3">
        <label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-400"
          >Manage</label
        >

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          href="/counterManager"
        >
          <svg
            class="h-5 w-5 text-white"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <rect x="3" y="4" width="18" height="16" rx="2" />
            <path d="M3 8h18M8 8v8m8-8v8m-12 0h16" />
          </svg>
          <span class="mx-2 text-sm font-medium">Counter</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          href="/productManager"
        >
          <svg
            class="h-5 w-5 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polygon points="9.9 2 2 9.9 12 22 22 9.9 14.1 2 9.9 2" />
            <line x1="12" y1="22" x2="9.9" y2="2" />
            <line x1="2" y1="9.9" x2="22" y2="9.9" />
            <line x1="14.1" y1="2" x2="12" y2="22" />
          </svg>
          <span class="mx-2 text-sm font-medium">Product</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          href="/employeeManager"
        >
          <svg
            class="h-5 w-5 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M12 14c4.418 0 8-1.791 8-4s-3.582-4-8-4-8 1.791-8 4 3.582 4 8 4z"
            />
            <path
              d="M12 14c-4.418 0-8 1.791-8 4s3.582 4 8 4 8-1.791 8-4-3.582-4-8-4z"
            />
            <path d="M12 14v7m-6-7v4m12-4v4" />
          </svg>
          <span class="mx-2 text-sm font-medium">Employee</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          href="/customerManager"
        >
          <svg
            class="h-5 w-5 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M12 11c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zM12 13c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"
            />
          </svg>
          <span class="mx-2 text-sm font-medium">Customer</span>
        </a>

        <a
          id="scheStaff"
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          href="/scheduleManager"
        >
          <svg
            class="h-5 w-5 text-white"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <rect x="4" y="5" width="16" height="16" rx="2" />
            <line x1="16" y1="3" x2="16" y2="7" />
            <line x1="8" y1="3" x2="8" y2="7" />
            <line x1="4" y1="11" x2="20" y2="11" />
            <rect x="8" y="15" width="2" height="2" />
          </svg>

          <span class="mx-2 text-sm font-medium">Work schedule </span>
        </a>
      </div>

      <div class="space-y-3">
        <label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-400"
          >Policy & Promotion</label
        >

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          href="/policyManager"
        >
          <svg
            class="h-5 w-5 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M8 21h8a2 2 0 0 0 2-2v-9a2 2 0 0 0-2-2h-3l-1-2H8a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2z"
            />
            <line x1="8" y1="13" x2="16" y2="13" />
            <line x1="8" y1="17" x2="16" y2="17" />
            <polyline points="10 9 10 13 8 13" />
          </svg>
          <span class="mx-2 text-sm font-medium">Policy</span>
        </a>
      </div>
      <div class="space-y-3">
        <label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-400"
          >AUTHEN</label
        >
        <!-- HTML -->
        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          href="/defaultInvoice"
        >
          <svg
            class="h-5 w-5 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 15v-1a4 4 0 00-4-4H8m0 0l3 3m-3-3l3-3m9 14V5a2 2 0 00-2-2H6a2 2 0 00-2 2v16l4-2 4 2 4-2 4 2z"
            />
          </svg>

          <span class="mx-2 text-sm font-medium">Sale Screen</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          id="logout"
        >
          <svg
            class="h-5 w-5 text-white"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
            <polyline points="10 17 15 12 10 7" />
            <line x1="15" y1="12" x2="3" y2="12" />
          </svg>
          <span class="mx-2 text-sm font-medium">Logout</span>
        </a>
      </div>
    </nav>
  </div>
  <div
    id="viewProfileModal"
    class="fixed inset-0 z-40 flex items-center justify-center z-45 hidden bg-gray-800 bg-opacity-75"
  >
    <div class="bg-white rounded-lg shadow-lg w-2/3">
      <div
        class="px-4 py-2 flex justify-between items-center bg-gray-800 text-white rounded-t-lg"
      >
        <h2 id="profileIDemp" class="text-lg">View Employee</h2>
        <button id="closeProfileModal" class="text-white">&times;</button>
      </div>
      <div class="p-4">
        <div class="flex space-x-4">
          <div class="w-1/3 border-r-4 border-gray-100 mr-2 pr-2">
            <div class="relative group">
              <div id="profileImagePlaceHolder"></div>
              <img
                id="imgProfileDetail"
                class="w-64 h-64 object-cover mx-auto border border-gray-300 rounded-md"
                src=""
                onerror="this.src='https\://picsum.photos/180/100';"
                alt=""
              />

              <label
                for="profileImgUpdate"
                class="absolute inset-0 bg-gray-300 bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity"
              >
                edit
              </label>
              <input id="profileImgUpdate" type="file" class="hidden" />
            </div>
          </div>
          <div class="w-2/3">
            <form id="viewProfileForm">
              <input type="hidden" id="viewProfileId" name="id" />
              <div class="mb-4 flex space-x-4">
                <div class="w-full">
                  <label for="viewProfileFirstName" class="block text-gray-700"
                    >First Name</label
                  >
                  <input
                    type="text"
                    id="viewProfileFirstName"
                    name="firstName"
                    class="w-full px-3 py-2 border rounded"
                  />
                </div>
                <div class="w-full">
                  <label for="viewProfileLastName" class="block text-gray-700"
                    >Last Name</label
                  >
                  <input
                    type="text"
                    id="viewProfileLastName"
                    name="lastName"
                    class="w-full px-3 py-2 border rounded"
                  />
                </div>
              </div>
              <div class="mb-4">
                <label for="viewProfilePhoneNumber" class="block text-gray-700"
                  >Phone Number</label
                >
                <input
                  type="text"
                  id="viewProfilePhoneNumber"
                  name="phoneNumber"
                  class="w-full px-3 py-2 border rounded"
                />
              </div>
              <div class="mb-4">
                <label for="viewProfileEmail" class="block text-gray-700"
                  >Email</label
                >
                <input
                  type="text"
                  id="viewProfileEmail"
                  name="email"
                  class="w-full px-3 py-2 border rounded"
                />
              </div>
              <div id="changePASS" class="mb-4 hidden">
                <label for="viewProfilePincode" class="block text-gray-700"
                  >Change pinCode</label
                >
                <input
                  type="password"
                  id="viewProfilePincode"
                  name="pinCode"
                  class="w-full px-3 py-2 border rounded"
                />
              </div>
              <div id="ConfirmchangePASS" class="mb-4 hidden">
                <label
                  for="viewConfirmProfilePincode"
                  class="block text-gray-700"
                  >Confirm change pinCode</label
                >
                <input
                  type="password"
                  id="viewConfirmProfilePincode"
                  name="pinConfirmCode"
                  class="w-full px-3 py-2 border rounded"
                />
              </div>
              <div class="flex justify-end space-x-4">
                <button
                  type="button"
                  id="changePincodeProfileBtn"
                  class="bg-blue-500 text-white px-4 py-2 rounded"
                >
                  Change pinCode
                </button>
                <button
                  type="button"
                  id="updateProfileBtn"
                  class="bg-blue-500 text-white px-4 py-2 rounded"
                >
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
<script>
  $("#logoAdmin").attr(
    "src",
    sessionStorage.getItem("userRole") === "ADMIN"
      ? "https://storage.googleapis.com/jewelrystore-2ks1dotnet.appspot.com/User/3f430e74-605f-4288-948d-5e38fbdff560_2024-07-16"
      : "https://storage.googleapis.com/jewelrystore-2ks1dotnet.appspot.com/User/d5998acc-0d7b-4e9b-9340-caedc2e4467d_2024-07-16"
  );
</script>
</div>

    <div class="relative w-full flex flex-col h-screen overflow-y-hidden">
      <!-- Desktop Header -->
      <div id="header-placeholder"></div>

      <!-- Mobile Header & Nav -->
      <header
        x-data="{ isOpen: false }"
        class="w-full bg-sidebar py-5 px-6 sm:hidden"
      >
        <div class="flex items-center justify-between">
          <a
            href="index.html"
            class="text-white text-3xl font-semibold uppercase hover:text-gray-300"
            >Admin</a
          >
          <button
            @click="isOpen = !isOpen"
            class="text-white text-3xl focus:outline-none"
          >
            <i x-show="!isOpen" class="fas fa-bars"></i>
            <i x-show="isOpen" class="fas fa-times"></i>
          </button>
        </div>

        <!-- Dropdown Nav -->
        <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
          <a
            href="index.html"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-tachometer-alt mr-3"></i>
            Dashboard
          </a>
          <a
            href="blank.html"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-sticky-note mr-3"></i>
            Blank Page
          </a>
          <a
            href="tables.html"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-table mr-3"></i>
            Tables
          </a>
          <a
            href="forms.html"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-align-left mr-3"></i>
            Forms
          </a>
          <a
            href="tabs.html"
            class="flex items-center active-nav-link text-white py-2 pl-4 nav-item"
          >
            <i class="fas fa-tablet-alt mr-3"></i>
            Tabbed Content
          </a>
          <a
            href="calendar.html"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-calendar mr-3"></i>
            Calendar
          </a>
          <a
            href="#"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-cogs mr-3"></i>
            Support
          </a>
          <a
            href="#"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-user mr-3"></i>
            My Account
          </a>
          <a
            href="#"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-sign-out-alt mr-3"></i>
            Sign Out
          </a>
          <button
            class="w-full bg-white cta-btn font-semibold py-2 mt-3 rounded-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center"
          >
            <i class="fas fa-arrow-circle-up mr-3"></i> Upgrade to Pro!
          </button>
        </nav>
      </header>

      <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
          <div class="flex justify-between items-center pb-6">
            <h1 class="text-3xl text-black">Counter Manager</h1>
            <div class="flex items-center space-x-2">
              <!-- Add Product Button -->
              <button
                id="openAddProductModal"
                class="flex items-center px-6 py-2 transition ease-in duration-200 uppercase rounded-full hover:bg-green-700 hover:text-white border-2 border-green-500 focus:outline-none"
              >
                Add Product to Counter
              </button>
              <button
                id="openMaintenanceCounters"
                class="flex items-center px-6 py-2 transition ease-in duration-200 uppercase rounded-full hover:bg-yellow-700 hover:text-white border-2 border-yellow-500 focus:outline-none"
              >
                Maintenance Counter
              </button>
              <!-- Create Counter Button -->
              <button
                id="openCreateCounterModal"
                class="flex items-center px-6 py-2 transition ease-in duration-200 uppercase rounded-full hover:bg-blue-700 hover:text-white border-2 border-blue-500 focus:outline-none"
                data-modal-target="createCounterModal"
                data-modal-toggle="createCounterModal"
              >
                Create Counter
              </button>
            </div>
          </div>

          <div class="w-full mt-6">
            <div>
              <ul id="counter-tabs" class="flex border-b">
                <!-- Tabs will be dynamically added here -->
              </ul>
              <!-- Thêm vào bên dưới danh sách các tabs -->
            </div>

            <div id="tab-contents" class="bg-white p-6">
              <!-- Tab contents will be dynamically added here -->
            </div>
          </div>
        </main>
      </div>

      <!-- Create Counter Modal -->
      <div
        id="createCounterModal"
        class="fixed inset-0 z-40 flex items-center justify-center hidden bg-gray-800 bg-opacity-75"
      >
        <div class="bg-white w-1/3 rounded-lg shadow-lg p-6">
          <div class="flex justify-between items-center pb-3">
            <h2 class="text-2xl font-semibold">Create Counter</h2>
            <button
              id="closeCreateCounterModal"
              class="text-gray-500 hover:text-gray-700"
              data-modal-target="createCounterModal"
              data-modal-toggle="createCounterModal"
            >
              <svg
                class="h-6 w-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                ></path>
              </svg>
            </button>
          </div>
          <form id="createCounterForm">
            <div class="mb-4">
              <label for="counterName" class="block text-gray-700"
                >Counter Name</label
              >
              <input
                type="text"
                id="counterName"
                name="counterName"
                class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                required
              />
            </div>
            <div class="flex justify-end">
              <button
                type="button"
                id="cancelCreateCounter"
                class="bg-gray-500 text-white px-4 py-2 rounded mr-2"
                data-modal-target="createCounterModal"
                data-modal-toggle="createCounterModal"
              >
                Cancel
              </button>
              <button
                type="submit"
                id="submitCreateCounter"
                class="bg-blue-500 text-white px-4 py-2 rounded"
              >
                Create
              </button>
            </div>
          </form>
        </div>
      </div>

      <div
        id="combinedModal"
        class="fixed inset-0 z-40 flex items-center justify-center hidden bg-gray-800 bg-opacity-75"
      >
        <div class="bg-white w-4/5 h-4/5 rounded-lg shadow-lg p-6">
          <div class="flex justify-between items-center pb-3">
            <h2 id="modalTitle" class="text-2xl font-semibold">
              Add Products to Counter
            </h2>
            <button
              id="closeCombinedModal"
              class="text-gray-500 hover:text-gray-700"
            >
              <svg
                class="h-6 w-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                ></path>
              </svg>
            </button>
          </div>

          <div class="flex justify-between mb-4">
            <div
              class="w-3/4 pr-4"
              id="productGrid"
              style="height: 70vh; overflow-y: auto"
            >
              <!-- Product grid will be dynamically added here -->
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Product Code
                    </th>
                    <th
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Name
                    </th>
                    <th
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Category
                    </th>
                    <th
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Material
                    </th>
                    <th
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Select
                    </th>
                  </tr>
                </thead>
                <tbody
                  id="productTableBody"
                  class="bg-white divide-y divide-gray-200"
                >
                  <!-- Rows will be dynamically added here -->
                </tbody>
              </table>
            </div>

            <div class="w-1/4 pl-4 border-l border-gray-200">
              <div class="flex">
                <select
                  id="categoryFilter"
                  class="mt-1 block w-1/2 px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                >
                  <option value="all">All Categories</option>
                  <!-- Category options will be dynamically added here -->
                </select>

                <select
                  id="materialFilter"
                  class="mt-1 block w-1/2 px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm ml-2"
                >
                  <option value="all">All Materials</option>
                  <!-- Material options will be dynamically added here -->
                </select>
              </div>

              <div class="mb-4">
                <label for="counterSelect" class="block text-gray-700"
                  >Select Counter</label
                >
                <select
                  id="counterSelect"
                  class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                >
                  <option value="" selected disabled>Choose counter</option>
                  <!-- Options will be dynamically added here -->
                </select>
              </div>
              <div class="flex justify-end">
                <button
                  type="button"
                  id="cancelSelectCounter"
                  class="bg-gray-500 text-white px-4 py-2 rounded mr-2"
                >
                  Cancel
                </button>
                <button
                  type="button"
                  id="submitAddProductToCounter"
                  class="bg-green-500 text-white px-4 py-2 rounded"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Delete modal -->
      <div
        id="deleteModal"
        tabindex="-1"
        aria-hidden="true"
        class="hidden flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-40 justify-center items-center w-full md:inset-0 h-modal md:h-full bg-gray-800 bg-opacity-75"
      >
        <div class="relative p-4 w-full max-w-md h-full md:h-auto">
          <!-- Modal content -->
          <div
            class="relative p-4 text-center bg-white rounded-lg shadow sm:p-5"
          >
            <button
              type="button"
              class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
              data-modal-toggle="deleteModal"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
            <svg
              class="text-gray-400 w-11 h-11 mb-3.5 mx-auto"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <p class="mb-4 text-gray-500">
              Are you sure you want to delete this item?
            </p>
            <div class="flex justify-center items-center space-x-4">
              <button
                data-modal-toggle="deleteModal"
                type="button"
                class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10"
              >
                No, cancel
              </button>
              <button
                type="submit"
                class="py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300"
              >
                Yes, I'm sure
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Maintenance -->
      <div
        id="maintenanceModal"
        class="fixed inset-0 hidden z-40 overflow-y-auto bg-gray-800 bg-opacity-75"
      >
        <div class="flex items-center justify-center min-h-screen px-4">
          <div class="relative w-full max-w-3xl bg-white rounded-lg shadow-lg">
            <div
              class="flex justify-between items-center p-5 border-b border-gray-200 rounded-t"
            >
              <h3 class="text-xl font-medium text-gray-900">
                Inactive Counters
              </h3>
              <button id="closeModal" class="text-gray-400 hover:text-gray-600">
                <span class="text-2xl">&times;</span>
              </button>
            </div>
            <div class="p-6 space-y-4">
              <table class="min-w-full bg-white border">
                <thead class="bg-gray-200">
                  <tr>
                    <th class="py-2 px-4">ID</th>
                    <th class="py-2 px-4">Name</th>
                    <th class="py-2 px-4">Status</th>
                    <th class="py-2 px-4">Actions</th>
                  </tr>
                </thead>
                <tbody id="counterTableBody">
                  <!-- Data will be populated here -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
