<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Schedule</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="/js/jquery.min.js"></script>
    <style>
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      .animate-spin {
        animation: spin 1s linear infinite;
      }

      /* Animation for the loader */
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      /* events.css */
      .event-type-1 {
        background-color: #ff7f50; /* Màu cam */
      }

      .event-type-2 {
        background-color: #6a5acd; /* Màu xanh đậm */
      }

      .event-type-3 {
        background-color: #20b2aa; /* Màu xanh nhạt */
      }

      .event-type-4 {
        background-color: #ff6347; /* Màu đỏ cam */
      }

      .event-type-5 {
        background-color: #4682b4; /* Màu xanh dương */
      }

      .event-type-6 {
        background-color: #32cd32; /* Màu xanh lá cây */
      }

      .event-type-7 {
        background-color: #ff69b4; /* Màu hồng đậm */
      }

      .event-type-8 {
        background-color: #ffa500; /* Màu cam vàng */
      }

      .event-add-user {
        background-color: #f3f4f6; /* Màu xám */
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .overflow-x-scroll {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden; /* Ẩn cuộn dọc */
        white-space: nowrap;
      }

      .single-event {
        display: inline-block;
      }

      .top-info {
        border-top-left-radius: 0.5rem; /* Bo góc trên trái */
        border-top-right-radius: 0.5rem; /* Bo góc trên phải */
        margin-right: 12px;
      }

      .week-selector {
        margin: 20px;
      }

      .week-selector label {
        margin-right: 10px;
        font-weight: bold;
      }
      .events-group ul {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
      }

      .single-event {
        flex: 0 0 auto; /* Prevent the event from shrinking */
        width: auto; /* Set a fixed width for each event */
        margin-right: 10px;
      }
      .week-selector select {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
    </style>

    <div id="notification-placeholder">
      <div id="toast-container" class="fixed top-4 right-4 z-50 space-y-2"></div>

<script>
  function showNotification(message, type) {
    const toastContainer = $("#toast-container");
    const toast = $(`
          <div class="toast p-4 rounded shadow-md text-white font-medium"></div>
      `).text(message);

    if (type === "OK") {
      toast.addClass("bg-green-500");
    } else {
      toast.addClass("bg-red-500");
    }

    toastContainer.append(toast);
    toast.addClass("show");

    // Tự động ẩn sau 2 giây
    setTimeout(() => {
      toast.addClass("opacity-0");
      setTimeout(() => toast.remove(), 500); // Xóa phần tử khỏi DOM sau khi ẩn
    }, 3000);

    // Ẩn thông báo khi nhấn vào
    toast.click(() => {
      toast.addClass("opacity-0");
      setTimeout(() => toast.remove(), 500);
    });
  }
</script>
<script type="module" src="/js/logout.js"></script>

    </div>
    <script type="module" src="/js/updateEvents.js"></script>
  </head>
  <body class="bg-gray-100 h-screen flex">
    <!-- Side bar -->
    <div id="sidebar-placeholder"><!-- AlpineJS -->
<script
  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
  defer
></script>
<!-- Font Awesome -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
  integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs="
  crossorigin="anonymous"
></script>
<script type="module" src="/js/logout.js"></script>

<aside
  id="adminPage"
  class="flex flex-col w-52 h-screen px-5 py-8 overflow-y-auto bg-white border-r rtl:border-r-0 rtl:border-l dark:bg-gray-900 dark:border-gray-700 no-scrollbar"
>
  <a href="/dashboard">
    <img
      id="logoAdmin"
      class="w-44 h-auto"
      src="https://storage.googleapis.com/jewelrystore-2ks1dotnet.appspot.com/User/82041f19-65b4-4d0d-9130-2748b6fde039_2024-07-12"
      alt="logo"
    />
  </a>

  <div class="flex flex-col justify-between flex-1 mt-6">
    <nav class="-mx-3 space-y-6">
      <div class="space-y-3">
        <label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-400"
          >Profile</label
        >

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          id="profileAdmin"
          href="#"
        >
          <svg
            class="h-5 w-5 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M8 21h8a2 2 0 0 0 2-2v-9a2 2 0 0 0-2-2h-3l-1-2H8a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2z"
            />
            <line x1="8" y1="13" x2="16" y2="13" />
            <line x1="8" y1="17" x2="16" y2="17" />
            <polyline points="10 9 10 13 8 13" />
          </svg>
          <span class="mx-2 text-sm font-medium">Account</span>
        </a>
        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          id="updateGoldPrice"
          href="#"
        >
          <svg
            class="h-5 w-5 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M8 21h8a2 2 0 0 0 2-2v-9a2 2 0 0 0-2-2h-3l-1-2H8a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2z"
            />
            <line x1="8" y1="13" x2="16" y2="13" />
            <line x1="8" y1="17" x2="16" y2="17" />
            <polyline points="10 9 10 13 8 13" />
          </svg>
          <span class="mx-2 text-sm font-medium">Update gold price</span>
        </a>
      </div>
      <div class="space-y-3">
        <label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-400"
          >Manage</label
        >

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          href="/counterManager"
        >
          <svg
            class="h-5 w-5 text-white"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <rect x="3" y="4" width="18" height="16" rx="2" />
            <path d="M3 8h18M8 8v8m8-8v8m-12 0h16" />
          </svg>
          <span class="mx-2 text-sm font-medium">Counter</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          href="/productManager"
        >
          <svg
            class="h-5 w-5 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polygon points="9.9 2 2 9.9 12 22 22 9.9 14.1 2 9.9 2" />
            <line x1="12" y1="22" x2="9.9" y2="2" />
            <line x1="2" y1="9.9" x2="22" y2="9.9" />
            <line x1="14.1" y1="2" x2="12" y2="22" />
          </svg>
          <span class="mx-2 text-sm font-medium">Product</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          href="/employeeManager"
        >
          <svg
            class="h-5 w-5 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M12 14c4.418 0 8-1.791 8-4s-3.582-4-8-4-8 1.791-8 4 3.582 4 8 4z"
            />
            <path
              d="M12 14c-4.418 0-8 1.791-8 4s3.582 4 8 4 8-1.791 8-4-3.582-4-8-4z"
            />
            <path d="M12 14v7m-6-7v4m12-4v4" />
          </svg>
          <span class="mx-2 text-sm font-medium">Employee</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          href="/customerManager"
        >
          <svg
            class="h-5 w-5 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M12 11c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zM12 13c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"
            />
          </svg>
          <span class="mx-2 text-sm font-medium">Customer</span>
        </a>

        <a
          id="scheStaff"
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          href="/scheduleManager"
        >
          <svg
            class="h-5 w-5 text-white"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <rect x="4" y="5" width="16" height="16" rx="2" />
            <line x1="16" y1="3" x2="16" y2="7" />
            <line x1="8" y1="3" x2="8" y2="7" />
            <line x1="4" y1="11" x2="20" y2="11" />
            <rect x="8" y="15" width="2" height="2" />
          </svg>

          <span class="mx-2 text-sm font-medium">Work schedule </span>
        </a>
      </div>

      <div class="space-y-3">
        <label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-400"
          >Policy & Promotion</label
        >

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          href="/policyManager"
        >
          <svg
            class="h-5 w-5 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M8 21h8a2 2 0 0 0 2-2v-9a2 2 0 0 0-2-2h-3l-1-2H8a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2z"
            />
            <line x1="8" y1="13" x2="16" y2="13" />
            <line x1="8" y1="17" x2="16" y2="17" />
            <polyline points="10 9 10 13 8 13" />
          </svg>
          <span class="mx-2 text-sm font-medium">Policy</span>
        </a>
      </div>
      <div class="space-y-3">
        <label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-400"
          >AUTHEN</label
        >
        <!-- HTML -->
        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          href="/defaultInvoice"
        >
          <svg
            class="h-5 w-5 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 15v-1a4 4 0 00-4-4H8m0 0l3 3m-3-3l3-3m9 14V5a2 2 0 00-2-2H6a2 2 0 00-2 2v16l4-2 4 2 4-2 4 2z"
            />
          </svg>

          <span class="mx-2 text-sm font-medium">Sale Screen</span>
        </a>

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          id="logout"
        >
          <svg
            class="h-5 w-5 text-white"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
            <polyline points="10 17 15 12 10 7" />
            <line x1="15" y1="12" x2="3" y2="12" />
          </svg>
          <span class="mx-2 text-sm font-medium">Logout</span>
        </a>
      </div>
    </nav>
  </div>
  <div
    id="viewProfileModal"
    class="fixed inset-0 z-40 flex items-center justify-center z-45 hidden bg-gray-800 bg-opacity-75"
  >
    <div class="bg-white rounded-lg shadow-lg w-2/3">
      <div
        class="px-4 py-2 flex justify-between items-center bg-gray-800 text-white rounded-t-lg"
      >
        <h2 id="profileIDemp" class="text-lg">View Employee</h2>
        <button id="closeProfileModal" class="text-white">&times;</button>
      </div>
      <div class="p-4">
        <div class="flex space-x-4">
          <div class="w-1/3 border-r-4 border-gray-100 mr-2 pr-2">
            <div class="relative group">
              <div id="profileImagePlaceHolder"></div>
              <img
                id="imgProfileDetail"
                class="w-64 h-64 object-cover mx-auto border border-gray-300 rounded-md"
                src=""
                onerror="this.src='https\://picsum.photos/180/100';"
                alt=""
              />

              <label
                for="profileImgUpdate"
                class="absolute inset-0 bg-gray-300 bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity"
              >
                edit
              </label>
              <input id="profileImgUpdate" type="file" class="hidden" />
            </div>
          </div>
          <div class="w-2/3">
            <form id="viewProfileForm">
              <input type="hidden" id="viewProfileId" name="id" />
              <div class="mb-4 flex space-x-4">
                <div class="w-full">
                  <label for="viewProfileFirstName" class="block text-gray-700"
                    >First Name</label
                  >
                  <input
                    type="text"
                    id="viewProfileFirstName"
                    name="firstName"
                    class="w-full px-3 py-2 border rounded"
                  />
                </div>
                <div class="w-full">
                  <label for="viewProfileLastName" class="block text-gray-700"
                    >Last Name</label
                  >
                  <input
                    type="text"
                    id="viewProfileLastName"
                    name="lastName"
                    class="w-full px-3 py-2 border rounded"
                  />
                </div>
              </div>
              <div class="mb-4">
                <label for="viewProfilePhoneNumber" class="block text-gray-700"
                  >Phone Number</label
                >
                <input
                  type="text"
                  id="viewProfilePhoneNumber"
                  name="phoneNumber"
                  class="w-full px-3 py-2 border rounded"
                />
              </div>
              <div class="mb-4">
                <label for="viewProfileEmail" class="block text-gray-700"
                  >Email</label
                >
                <input
                  type="text"
                  id="viewProfileEmail"
                  name="email"
                  class="w-full px-3 py-2 border rounded"
                />
              </div>
              <div id="changePASS" class="mb-4 hidden">
                <label for="viewProfilePincode" class="block text-gray-700"
                  >Change pinCode</label
                >
                <input
                  type="password"
                  id="viewProfilePincode"
                  name="pinCode"
                  class="w-full px-3 py-2 border rounded"
                />
              </div>
              <div id="ConfirmchangePASS" class="mb-4 hidden">
                <label
                  for="viewConfirmProfilePincode"
                  class="block text-gray-700"
                  >Confirm change pinCode</label
                >
                <input
                  type="password"
                  id="viewConfirmProfilePincode"
                  name="pinConfirmCode"
                  class="w-full px-3 py-2 border rounded"
                />
              </div>
              <div class="flex justify-end space-x-4">
                <button
                  type="button"
                  id="changePincodeProfileBtn"
                  class="bg-blue-500 text-white px-4 py-2 rounded"
                >
                  Change pinCode
                </button>
                <button
                  type="button"
                  id="updateProfileBtn"
                  class="bg-blue-500 text-white px-4 py-2 rounded"
                >
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
<script>
  $("#logoAdmin").attr(
    "src",
    sessionStorage.getItem("userRole") === "ADMIN"
      ? "https://storage.googleapis.com/jewelrystore-2ks1dotnet.appspot.com/User/3f430e74-605f-4288-948d-5e38fbdff560_2024-07-16"
      : "https://storage.googleapis.com/jewelrystore-2ks1dotnet.appspot.com/User/d5998acc-0d7b-4e9b-9340-caedc2e4467d_2024-07-16"
  );
</script>
</div>

    <div class="relative w-full flex flex-col h-screen overflow-y-auto">
      <!-- Desktop Header -->
      <div id="header-placeholder"></div>

      <!-- Year and Week Selector -->
      <div class="week-selector">
        <label for="year-dropdown">YEAR:</label>
        <select id="year-dropdown"></select>
        <label for="week-dropdown">WEEK:</label>
        <select id="week-dropdown"></select>
        <!-- Nút gửi lịch -->
        <button
          type="button"
          id="sendMailToEmployee"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded"
        >
          Send Schedule
        </button>
      </div>

      <div class="cd-schedule loading relative w-full h-screen mx-auto">
        <div class="events">
          <ul class="wrap flex flex-col ml-3">
            <li class="events-group mb-4">
              <div class="top-info py-2 px-4 bg-gray-300">
                <span>Monday</span>
                <span class="date"></span>
              </div>
              <ul class="flex overflow-x-scroll mr-3"></ul>
            </li>
            <li class="events-group mb-4">
              <div class="top-info py-2 px-4 bg-gray-300">
                <span>Tuesday</span>
                <span class="date"></span>
              </div>
              <ul class="flex overflow-x-scroll mr-3"></ul>
            </li>
            <li class="events-group mb-4">
              <div class="top-info py-2 px-4 bg-gray-300">
                <span>Wednesday</span>
                <span class="date"></span>
              </div>
              <ul class="flex overflow-x-scroll mr-3"></ul>
            </li>
            <li class="events-group mb-4">
              <div class="top-info py-2 px-4 bg-gray-300">
                <span>Thursday</span>
                <span class="date"></span>
              </div>
              <ul class="flex overflow-x-scroll mr-3"></ul>
            </li>
            <li class="events-group mb-4">
              <div class="top-info py-2 px-4 bg-gray-300">
                <span>Friday</span>
                <span class="date"></span>
              </div>
              <ul class="flex overflow-x-scroll mr-3"></ul>
            </li>
            <li class="events-group mb-4">
              <div class="top-info py-2 px-4 bg-gray-300">
                <span>Saturday</span>
                <span class="date"></span>
              </div>
              <ul class="flex overflow-x-scroll mr-3"></ul>
            </li>
            <li class="events-group mb-4">
              <div class="top-info py-2 px-4 bg-gray-300">
                <span>Sunday</span>
                <span class="date"></span>
              </div>
              <ul class="flex overflow-x-scroll mr-3"></ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>

  <!-- modal delete confirm -->
  <div
    id="deleteModal"
    tabindex="-1"
    aria-hidden="true"
    class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden"
  >
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
      <!-- Modal content -->
      <div class="relative p-4 text-center bg-white rounded-lg shadow sm:p-5">
        <button
          id="closeDelete"
          type="button"
          class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
          data-modal-toggle="deleteModal"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
        <svg
          class="text-gray-400 w-11 h-11 mb-3.5 mx-auto"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <p class="mb-4 text-gray-500">
          Are you sure you want to delete this schedule?
        </p>
        <div class="flex justify-center items-center space-x-4">
          <button
            data-modal-toggle="deleteModal"
            type="button"
            class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-40"
            id="cancelDelete"
          >
            No, cancel
          </button>
          <button
            type="button"
            class="py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300"
            id="confirmDelete"
          >
            Yes, I'm sure
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal confirm send schedule -->

  <div
    id="confirmSendModal"
    tabindex="-1"
    aria-hidden="true"
    class="fixed inset-0 z-40 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden"
  >
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
      <div
        class="absolute bg-white z-10 h-full w-full flex items-center justify-center rounded-lg hidden"
        id="overlay-sendmail"
      >
        <div class="flex items-center">
          <span class="text-3xl mr-4">Loading</span>
          <svg
            class="animate-spin h-8 w-8 text-gray-800"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
        </div>
      </div>
      <!-- Modal content -->
      <div class="relative p-4 text-center bg-white rounded-lg shadow sm:p-5">
        <button
          id="closeSendModal"
          type="button"
          class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
          data-modal-toggle="confirmSendModal"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
        <div class="flex justify-center mb-4">
          <svg
            class="h-11 w-11 text-gray-500"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
            />
            <polyline points="22,6 12,13 2,6" />
          </svg>
        </div>
        <p class="mb-4 text-gray-500">
          Are you sure you want to send this schedule to STAFF?
        </p>
        <div class="flex justify-center items-center space-x-4">
          <button
            data-modal-toggle="confirmSendModal"
            type="button"
            class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-40"
            id="cancelSendModal"
          >
            No, cancel
          </button>
          <button
            type="button"
            class="py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300"
            id="confirmSendMail"
          >
            Yes, I'm sure
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal create schedule -->
  <div
    id="create-modal"
    tabindex="-1"
    aria-hidden="true"
    class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden"
  >
    <div class="relative p-4 w-full max-w-md max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 border-b rounded-t">
          <span>Create Schedule: </span>
          <span class="date ml-3 font-bold"></span>
          <button
            type="button"
            id="modalClose"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center"
          >
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20">
              <path
                fill-rule="evenodd"
                d="M10 8.586L15.657 2.93a1 1 0 011.414 1.414L11.414 10l5.657 5.657a1 1 0 01-1.414 1.414L10 11.414l-5.657 5.657a1 1 0 01-1.414 1.414L8.586 10 2.93 4.343A1 1 0 014.343 2.93L10 8.586z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <form id="form-insert" class="p-4">
          <input type="hidden" id="date" name="date" />
          <div class="grid gap-4 mb-4 grid-cols-2">
            <div class="col-span-2">
              <label
                for="employeeId"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Choose Employee</label
              >
              <select
                id="employeeId"
                name="employeeId"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                required
              >
                <!-- empl load here -->
              </select>
            </div>
            <div class="col-span-2">
              <label
                for="counterId"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Counter</label
              >
              <select
                id="counterId"
                name="counterId"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                required
              >
                <!-- counter load here -->
              </select>
            </div>
          </div>
          <button
            type="submit"
            id="submit-insert"
            class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            Create Schedule
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- View Employee Modal -->
  <div
    id="viewEmployeeModal2"
    class="fixed inset-0 flex items-center justify-center z-40 bg-gray-800 bg-opacity-75 hidden"
  >
    <div class="bg-white rounded-lg shadow-lg w-1/3">
      <div
        id="backgroundColor"
        class="px-4 py-2 flex justify-between items-center text-white rounded-t-lg"
      >
        <h2 class="text-lg">
          Shift details:
          <span class="text-sm font-medium" id="date-shift"></span>
        </h2>

        <button id="closeViewModalBtn2" class="text-white">&times;</button>
      </div>
      <div class="p-4">
        <div class="flex space-x-4">
          <div class="w-full">
            <div class="flex flex-col items-center">
              <img
                src="https://randomuser.me/api/portraits/men/94.jpg"
                class="w-32 h-32 bg-gray-300 rounded-full mb-4 object-cover"
                id="employeeImage"
              />
              <h1 class="text-xl font-bold" id="employeeName">John Doe</h1>
              <p class="text-gray-700" id="employeeRole">Software Developer</p>
            </div>
            <hr class="my-6 border-t border-gray-300" />
            <div class="flex">
              <div class="w-1/2 pr-2">
                <span
                  class="text-gray-700 uppercase font-bold tracking-wider mb-2"
                  >Information</span
                >
                <ul>
                  <li class="mb-2" id="employeeId2">ID Employee:</li>
                  <li class="mb-2" id="employeePhone">Phone:</li>
                  <li class="mb-2" id="employeeEmail">Email:</li>
                  <li class="mb-2" id="employeeAddress">Address:</li>
                </ul>
              </div>
              <div class="w-1/2 pl-2 border-l border-gray-300">
                <span
                  class="text-gray-700 uppercase font-bold tracking-wider mb-2"
                  >Information Shift</span
                >
                <ul>
                  <li class="mb-2" id="shiftCounter">Counter:</li>
                  <li class="mb-2">
                    Check In Status: <span id="checkInStatus"></span>
                  </li>
                  <li class="mb-2">
                    Check Out Status: <span id="checkOutStatus"></span>
                  </li>
                  <li class="mb-2">Is late: <span id="isLateStatus"></span></li>
                </ul>
              </div>
            </div>
            <div class="w-full flex justify-end">
              <!-- Hidden form -->
              <form id="deleteForm">
                <input type="hidden" id="hiddenDate" name="date" />
                <input type="hidden" id="hiddenCounterId" name="counterId" />
                <input type="hidden" id="hiddenEmployeeId" name="employeeId" />
                <button
                  type="submit"
                  id="buttonDeleteSChedule"
                  class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                >
                  Delete
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
