<!-- HTML cho thông báo
<div
  id="notification-container"
  class="fixed top-0 right-0 m-4 space-y-2 z-50"
></div> -->

<header class="header w-full items-center bg-white py-2 px-6 hidden sm:flex">
  <div class="w-1/2">
    <label
      id="sideBarButton"
      class="text-indigo-700 border border-indigo-600 py-2 px-6 gap-2 rounded inline-flex items-center"
    >
      <svg
        class="w-4"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        class="w-6 h-6 ml-2"
      >
        <path id="togglePath" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
      </svg>
    </label>
  </div>
  <div x-data="{ isOpen: false }" class="relative w-1/2 flex justify-end">
    <button
      @click="isOpen = !isOpen"
      class="relative z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none"
    >
      <img
        src="https://i1.sndcdn.com/artworks-TB5xPgIAwOZwLXJl-5fPYhg-t500x500.jpg
      "
      />
    </button>
    <button
      x-show="isOpen"
      @click="isOpen = false"
      class="h-full w-full fixed inset-0 cursor-default z-10"
    ></button>
    <div
      x-show="isOpen"
      class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16 z-20"
    >
      <a href="#" class="block px-4 py-2 account-link hover:text-white"
        >Account</a
      >
      <a href="#" class="block px-4 py-2 account-link hover:text-white"
        >Support</a
      >
      <a
        href=""
        class="block px-4 py-2 account-link hover:text-white"
        id="logout"
        >Sign Out</a
      >
    </div>
  </div>
</header>
<script>
  $(document).ready(function () {
    $("#sideBarButton").on("click", function () {
      $("#mySidebar").toggle();

      // Check if the sidebar is visible
      if ($("#mySidebar").is(":visible")) {
        // Change to right-pointing arrow
        $("#togglePath").attr("d", "M10 19l-7-7m0 0l7-7m-7 7h18");
      } else {
        // Change to left-pointing arrow
        $("#togglePath").attr("d", "M14 5l7 7m0 0l-7 7m7-7H3");
      }
    });
  });

  // function showNotification(desc, status) {
  //   // Tạo một div mới cho thông báo
  //   var notification = $("<div>", {
  //     class:
  //       "bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative z-50 w-auto",
  //     role: "alert",
  //   }).append(
  //     $("<div>", {
  //       class: "flex items-center space-x-2",
  //     }).append(
  //       $("<span>", {
  //         class: "block sm:inline",
  //         text: desc,
  //       })
  //     )
  //   );

  //   // Thay đổi lớp CSS dựa trên status
  //   if (status === "OK") {
  //     notification.addClass(
  //       "bg-green-100 border-green-400 text-green-700 mx-10"
  //     );
  //   } else {
  //     notification
  //       .removeClass("bg-green-100 border-green-400 text-green-700 mx-10")
  //       .addClass("bg-red-100 border-red-400 text-red-700 mx-10");
  //   }

  //   // Append thông báo mới vào container
  //   $("#notification-container").append(notification);

  //   // Tự động ẩn thông báo sau 3 giây
  //   setTimeout(function () {
  //     notification.fadeOut(400, function () {
  //       $(this).remove();
  //     });
  //   }, 3000);
  // }
</script>
